.landingpage{
  background-image: url("/Asset/profil-bg.jpg");
  background-color: #cccccc;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content{
    padding-top: 450px;
}

.garis{
  background-position: center;
}



